@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Chivo+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Great+Vibes&family=Italiana&family=Noto+Kufi+Arabic:wght@100;200;300;400;500;600;700;800;900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sofia+Sans+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sorts+Mill+Goudy:ital@0;1&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'UthmanicHafs_v2-1';
    src: url('../fonts/UthmanicHafs_v2-1.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'UthmanicHafs_v2-1', sans-serif;
    color: #344c6c;

}

body {
    background: linear-gradient(rgba(13, 43, 67, 0.5), rgba(226, 197, 147, 0.9)), url('../imgs/pexels-tayeb-mezahdia-318451.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: linear-gradient(rgba(13, 43, 67, 0.5), rgba(226, 197, 147, 0.2), rgba(252, 252, 252, 0.2));
    backdrop-filter: blur(15px);
    height: 550px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.surahs-menu {
    position: absolute;
    left: -200px;
    top: 0;
    z-index: 10000;
    backdrop-filter: blur(15px);
    background: #878b8b;
    width: 200px;
    height: 100%;
    transition: 0.5s ease-in-out all;
}

.surahs-menu.active {
    left: 0;
}

.head {
    direction: rtl;
    padding: 10px;
    padding-right: 20px;
    font-size: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    background: #344c6c;
    backdrop-filter: blur(20px);
}

.head span {
    color: #e2c593;
}


.menu {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    font-size: 25px;
    cursor: pointer;
    transition: 0.5s ease-in-out all;
    z-index: 99;
    color: #e2c593;
}

.menu.active,
.menu:hover {
    background: #344c6c;
}

.head span:first-child {
    font-size: 30px;
}

.surahs-names {
    width: 100%;
    height: 84%;
    overflow: auto;
}

.bsm {
    padding: 10px 0 20px 0;
    display: none;
}

.suhra-name {
    font-size: 25px;
    color: #e2c593;
}

.logo {
    margin-bottom: -5px;
    margin-top: 10px;
}

.bsm.active {
    display: flex;
}

i {
    font-style: normal;
    font-size: 29px;
    position: relative;
}

i small {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
}

.surah-ayahs {
    width: 100%;
    padding: 0 10px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.audio-player {
    height: 20%;
    width: 100%;
    padding: 20px;
    position: relative;
}

.surahs-names p {
    cursor: pointer;
    text-align: end;
    padding: 10px;
    transition: 0.5s ease-in-out all;
    font-size: 20px;
}

.surahs-names p.active,
.surahs-names p:hover {
    background: #344c6c;
    color: #e2c593;
}

.ayah-card {
    width: 100%;
    background: rgba(252, 252, 252, 0.2);
    padding: 10px;
    position: relative;
    margin: 2px;
}

.ayah-card p {
    font-size: 30px;
    padding: 10px 30px 0 30px;
}

.ayah-card p:last-child {
    text-align: start;
    padding: 0 40px 0 20px;
    font-size: small;
    font-family: 'Cairo', sans-serif;
    line-height: 16px;
}

.ayah-card p:first-child {
    direction: rtl;
}

audio {
    width: 100%;
    height: 100%;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(52, 76, 108, 0.5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(52, 76, 108, 1);

}

.audio-player input {
    -webkit-appearance: none;
    height: 10px;
    background: #878b8b;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 12px;
    width: calc(100% - 30px);
}

.audio-player input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 2px;
    height: 10px;
    background: #e2c593;
    box-shadow: -400px 0 0 400px #344c6c;
}

.duration-time {
    position: absolute;
    top: 10px;
    left: 12px;
    width: calc(100% - 30px);
    display: flex;
    justify-content: space-between;
}

.duration-time span:last-child {
    text-align: end;
}

.controls {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    align-items: center;
}

.controls span {
    cursor: pointer;
    transition: 0.5s ease-in-out all;
    padding: 10px;
    font-size: 25px;
}

.controls span.shuffle.active,
.controls span.repeat.active,
.controls span:hover {
    color: #e2c593;
    background: #344c6c;
}

.controls span.play-pause {
    position: relative;
    font-size: 40px;
    margin: 0 10px;
    border-radius: 50%;
    background: #344c6c;
    color: #e2c593;
}

.layout {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(13, 43, 67, 0.2);
    width: 100%;
    height: 100%;
    display: none;
}

.layout.active {
    display: block;
    z-index: 9999999999999999999999999;
}